$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 1200px";
$mobile-width-only: "max-width: 767px";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
$bg-darkgrey: #353535;
$bg-white: #f8f5f2;
$brown-light: #826550;
$sep: #e5ddd5;
$sep-hov: #d5c9bd;
$sep-d: #3f3f3f;
$sep-d-hov: #545454;

