body {
  min-width: 320px; 
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
  line-height: 27px; 
  font-weight: normal; 

  background-color: $bg-darkgrey;
  color: #f7f4f1;
}
.footer-to-bottom {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer-to-bottom__grow {
  flex-grow: 1;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  color: inherit;
}
textarea,
input {
  font: inherit;
  text-transform: inherit;
  color: inherit;
  background-color: transparent;
}
img {
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}

/*Для проекта*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



