.footer {
	background-color: #292929;
	color: #fff;
}

.footer__wrapper {
	@include container-fluid();
	padding-top: 70px;
	padding-bottom: 25px;
}

.footer__contacts {
	margin: 0 20px;
	margin-bottom: 25px;

	text-align: center;
}

.footer__contacts b {
	line-height: 35px;
	font-weight: bold;
}

.footer__contacts a {
	@include btn-black();
	width: 254px;

  margin: 0 auto;
  margin-top: 20px;
}

.footer__contacts-hidden {
	display: none;
}

.footer__social {
	margin-bottom: 35px;
}

.social-links {
	display: table;	
	
	width: 100%;
}

.social-link {
	position: relative;

	display: table-cell;	
	width: 33.33%;
	height: 100px;
	font-size: 0;

	border: 1px solid $sep-d;

  transition: border-color 0.2s,
							background-color 0.2s;

	&:before {
		@include pseudo;
		width: 40px;
		height: 40px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;

		background-image: url(../../img/social-sprite.png);
		background-repeat: no-repeat;

		transition: filter 0.2s;
	}
	&--vk {
		&::before {
			background-position: 12px 0;
		}
	}	
	&--fb {
		&::before {
			background-position: -36px 1px;
		}
	}	
	&--in {
		&::before {
			background-position: -83px 0;
		}
	}

	&:hover {		
		border: 1px solid $sep-d-hov;
	}

	&:active {
		border: 1px solid #252525;	

		background-color: #252525;

		&::before {
			filter: brightness(30%);
		}
	} 
}

.footer__social-hidden {
	display: none;
}

.footer__copyright {
	margin: 0 20px;

	text-align: center;
}

.footer__copyright-link {
	@include btn-black();
	width: 254px;

  margin: 0 auto;
  margin-top: 10px;

  text-transform: uppercase;
}

@media ($tablet-width) {
	.footer__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		padding-top: 50px;
		padding-bottom: 55px;
	}
	
	.footer__contacts {
		width: 320px;

    margin: 0;
		margin-bottom: 25px;

		text-align: left;
	}
	
	.footer__contacts a {
	  display: inline;

	  padding: 0;
	  margin: 0;

	  border: none;
	  
	  font: inherit;
	  font-weight: normal;
	  color: inherit;
	  text-decoration: none;

	  transition: none; 
	
	  &:hover {
   	 	border: none;   
  	}
    &:active {
	    border: none;    
	    background-color: transparent;
  	}
	}

	.footer__contacts-hidden {
		display: inline;
	}

	.footer__social {
		width: 100%;

		margin: 0;

		order: 3;
	}

	.footer__copyright {
		width: 160px;
		
		margin: 0;

		order: 2;
	}	

	.footer__copyright a {
		width: auto;
	}

}	

@media ($desktop-width) {
	.footer__contacts {
    margin: 0;
	}

	.footer__social {
		width: 320px;
		text-align: center;

		order: 2;
	} 
	
	.social-links {
		width: auto;
		margin: 0 auto;

		border-spacing: 10px;
	}

	.social-link {
		width: 50px;
		height: 50px;

		&:before {
			width: 20px;
			height: 20px;
			background-size: auto 20px;
		}
		&--vk {
			&::before {
			background-position: 5px -1px;
			}
		}	
		&--fb {
			&::before {
			background-position: -19px 0px;
			}
		}	
		&--in {
			&::before {
			background-position: -42px -1px;
			}
		}

	}

	.footer__social-hidden {
		display: inline;
	}

	.footer__copyright {
		margin-left: auto;

		order: 3;
	}	
}